<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="p-4">
  <div formArrayName="products">
    <div *ngFor="let product of productArray.controls; let i = index" class="mb-4 border p-3 rounded">
      <div [formGroupName]="i">
        <div class="form-group">
          <label>Product Name</label>
          <input formControlName="productName" class="form-control" />
          <small *ngIf="error[i].productName" class="text-danger">{{error[i].productName}}</small>
        </div>

        <div class="form-group">
          <label>Product Description</label>
          <input formControlName="productDescription" class="form-control" />
          <small *ngIf="error[i].productDescription" class="text-danger">{{error[i].productDescription}}</small>

        </div>

        <div class="form-group">
          <label>Price</label>
          <input type="number" formControlName="price" class="form-control" />
          <small *ngIf="error[i].price" class="text-danger">{{error[i].price}}</small>

        </div>

        <div class="form-group">
          <label>Category</label>
          <input formControlName="category" class="form-control" />
          <small *ngIf="error[i].category" class="text-danger">{{error[i].category}}</small>

        </div>

        <div class="form-group">
          <label>Stock Quantity</label>
          <input type="number" formControlName="stockQuantity" class="form-control" />
          <small *ngIf="error[i].stockQuantity" class="text-danger">{{error[i].stockQuantity}}</small>

        </div>

        <button type="button" (click)="removeArray(i)" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>

  <button type="button" (click)="addProduct()" class="btn btn-primary">Add Product</button>
  <button type="submit" [disabled]="productForm.invalid" *ngIf="productArray.controls.length>0"  class="btn btn-success">Submit</button>
</form>
<div class="row">
  <div *ngFor="let product of products; let i = index" class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.productName }}</h5>
        <p class="card-text">{{ product.productDescription }}</p>
        <p class="card-text">Price: ${{ product.price }}</p>
        <p class="card-text">Category: {{ product.category }}</p>
        <p class="card-text">Stock Quantity: {{ product.stockQuantity }}</p>
        <button type="button" (click)="editProduct(i)" class="btn btn-primary mr-2" #modify data-toggle="modal" data-target="#modifyModal">Edit</button>
        <button type="button" (click)="deleteProduct(i)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>


